<!-- navbar -->
<section ng-include src="'components/modals/changePass.html'"></section>
<section dir-nav></section>
  <br>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="#/teacher/home">Overview</a></li>
  <li role="presentation"><a href="#/teacher/classes">Classes</a></li>
  <li role="presentation" class="active"><a href="#/teacher/assignment">Assignments</a></li>
  <li role="presentation"><a href="#/teacher/uploads">Uploads</a></li>
</ul>
<div class="color">
<!-- try this  one -->
  <div class="card2 card-1">
    <div id="ohla" class=" border overflow-scroll">
      <div class="col-md-12  border">
        content
      </div>
    </div>
  </div>

  <div class="card card-1">

    <div class="item-menu overflow-scroll">

      <div class="col-md-12  borders" ng-repeat="ass in DspAss">
        <div >
          <h4>{{ass.title}}</h4>
          <label>{{ass.cont}}</label>
          <span class="label label-danger pull-right" id="duedate">Date</span>
        </div>
      </div>
    </div>
  <!-- end of card 1 -->
  </div>
<!-- tago muna -->
</div>
