<!-- navbar -->

<section dir-nav></section>
  <br>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="#/teacher/home">Overview</a></li>
  <li role="presentation"><a href="#/teacher/classes">Classes</a></li>
  <li role="presentation" class="active"><a href="#/teacher/assignment">Assignments</a></li>
  <li role="presentation"><a href="#/teacher/uploads">Uploads</a></li>
</ul>
<div class="color">
<!-- try this  one -->
  <div class="card2 card-1">
    <div id="ohla" class=" border overflow-scroll">
      <div class="col-md-12  border">

        <div class="row text-center">
          <h3>{{assCont.title}}</h3>
          <div class="row">
            {{assCont.cont}}
          </div>
        </div>



      </div>
    </div>
  </div>


  <div class="card card-1">

    <div class="item-menu overflow-scroll">

      <div class="col-md-12  borders" ng-repeat="ass in DspAss | orderBy:'-timecreated'">
        <a ng-click="content(ass)">
          <div >
            <h4>{{ass.title}}</h4>
            <label>{{ass.timecreated}}</label>
            <span class="label label-danger pull-right">Date</span>
          </div>
        </a>
      </div>
    </div>
  <!-- end of card 1 -->
  </div>
<!-- tago muna -->
</div>
