<!-- navbar -->

<section dir-nav></section>
  <br>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="#/teacher/home">Overview</a></li>
  <li role="presentation"><a href="#/teacher/classes">Classes</a></li>
  <li role="presentation" class="active"><a href="#/teacher/assignment">Assignments</a></li>
  <li role="presentation"><a href="#/teacher/uploads">Uploads</a></li>
</ul>
<div class="color">
<!-- try this  one -->
  <div class="card2 card-1">
    <div id="ohla" class=" border overflow-scroll">
      <div class="col-md-12  border">

        <div class="row text-center">
          <h1>{{assCont.title}}</h3>
          <h6>Date created: {{assCont.timecreated * 1000 | date: 'MMM d, y h:mm a'}}</h6>
          <div class="row">
            <h4>{{assCont.cont}}</h4>
          </div>

        </div>
        <a type="button" class="btn btn-danger glyphicon glyphicon-trash pull-right" ng-click="deleteAss()"></a>

      </div>
    </div>
  </div>


  <div class="card card-1">

    <div class="item-menu overflow-scroll">

      <div class="col-md-12  borders" ng-repeat="ass in DspAss">
        <a ng-click="content(ass, $index)">
          <div >
            <!-- <pre>
              {{ass|json}}
            </pre> -->
            <h4>{{ass.title}}</h4>
                <span class="label label-danger pull-right">Deadline: {{ass.deadline * 1000 | date: 'MMM d, y h:mm a'}} </span>
          </div>
        </a>
      </div>
    </div>
  <!-- end of card 1 -->
  </div>
<!-- tago muna -->
</div>
