<!-- navbar -->

<section dir-nav></section>
<br>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="#/teacher/home">Overview</a></li>
  <li role="presentation" class="active"><a href="#/teacher/classes">Classes</a></li>
  <li role="presentation"><a href="#/teacher/assignment">Assignments</a></li>
  <li role="presentation"><a href="#/teacher/uploads">Uploads</a></li>
</ul>

    <!-- <div class="row"> -->
<div class="color container-fluid">
  <div class="card card-1">


    <div class="container ">
      <div class="col-md-3 col-xs-12 admin-controls">
        <form name="searchForm">

          <input type="search" ng-model="searchClass" name="searchText"  class="form-control" placeholder="Search">
        </form>
      </div>
    </div>



    <div class="sidebyside" ng-repeat="cls in DspClass | filter:{Teacher:id.uid, $:searchClass} as searched">
      
        <div class="class-box pull-left col-md-3 col-sm 6 col-xs-12">
        <a class="thumb" href="#/class_dashboard/{{$index}}/post"><span class="glyphicon glyphicon-book"></span>
        <span class="name"> <h3>{{cls.Subject}}</h3> <br />  <h4>{{cls.Section}}</h4> </span></a>
      </div>

    </div>

    <div class="text-center" ng-show="searched.length === 0 && searchText.$touched">
       <h3>your searched keyword <b>"{{searchClass}}"</b> is not found in the database.</h3>
    </div>
  </div>
</div>
