<!-- navbar -->
<section ng-include src="'components/modals/changePass.html'"></section>
<section dir-nav></section>
<br>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="#/teacher/home">Overview</a></li>
  <li role="presentation" class="active"><a href="#/teacher/classes">Classes</a></li>
  <li role="presentation"><a href="#/teacher/assignment">Assignments</a></li>
  <li role="presentation"><a href="#/teacher/uploads">Uploads</a></li>
</ul>

    <!-- <div class="row"> -->
<div class="color container-fluid">
  <div class="card card-1">
    <div class="sidebyside" ng-repeat="cls in DspClass">

        <div class="class-box pull-left col-md-3 col-sm 6 col-xs-12">
        <a class="thumb" href="#"><span class="glyphicon glyphicon-book"></span>
        <span class="name"> <h3>{{cls.Subject}}</h3> </br>  <h4>{{cls.Section}}</h4> </span></a>
      </div>

    </div>
  </div>
</div>
<!-- jQuery first, then Bootstrap JS. -->
<script type="text/javascript">
  $("[name='classesSwitch']").bootstrapSwitch();
</script>
