<!-- navbar -->

<section ng-include src="'components/modals/announce_modal.html'"></section>

<section dir-nav></section>
 <br>

<div class="container-fluid">

    <ul class="nav nav-tabs">
      <!-- <div class="col-lg-3"> -->
      <li role="presentation" class="active"><a href="#/teacher/home">Overview</a></li>
      <li role="presentation"><a href="#/teacher/classes">Classes</a></li>
      <li role="presentation"><a href="#/teacher/assignment">Assignments</a></li>
      <li role="presentation"><a href="#/teacher/uploads">Uploads</a></li>
    </ul>


    <div class="container">
<br>
    <div class="row">

      <div class="col-md-7">
        <div uib-carousel active="0" interval="7000" no-wrap="false">
          <div uib-slide  ng-repeat="slide in theEvents  | filter:{isActive:true}" index="$index">
            <img ng-src="{{slide.url}}" class="slider">
            <div class="carousel-caption">
              <h4>{{slide.name}}</h4>
              <p>
                {{slide.description}}<br>
                {{ slide.venue}} <br>
                {{ slide.startEvent | date:'MMM d, y h:mm:ss a'}} - {{slide.endEvent | date:'MMM d, y h:mm:ss a'}}
              </p>
            </div>
          </div>
        </div>
      </div>


      <div id="margintop" class="col-md-4">
        <div class="panel panel-primary" style="min-height: 350px;">

          <!-- todolist -->
          <div class="panel-heading">
            <span>Todo list</span>
          </div>

          <div class="panel-body" >
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Your Task" name="task.desc" ng-model="task.desc">
              <input type="datetime-local" name="deadline" min="{{ Date.now() | date: 'yyyy-MM-ddTHH:mm'}}" ng-model="task.deadline" class="form-control">

            </div>
            <button type="submit" class="btn btn btn-primary" ng-click="addTodos(task)">Add</button>

            <div class="container-fluid">
              <ul>
                <br><br>
                <li ng-repeat="todo in theTodos">

                  <b>{{todo.desc}}</b>
                  
                  <h6>Deadline: {{todo.deadline * 1000 | date: 'MMM d, y h:mm a'}}
                  <a class="btn-link btn" ng-click="deleteTodo(todo.$id)">&times;</a>
                  </h6>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of todolist -->
        </div>
      </div>

    </div>

    <div id="margintop" class="row">
        <!-- Announcement -->
      <div  class="col-md-7">
        <div class="panel panel-primary">
          <div class="panel-heading">Posted Announcements</div>
          <div class="panel-body" >
            <ul>
              <li ng-repeat="announce in theAnnouncements" >
                <b>{{announce.Section}} {{announce.Subject}}</b>
                <ul>
                  <li ng-repeat="ann in announce.Announcement"><a class="btn btn-link" data-toggle="modal" data-target="#announcementModal" ng-click="getAnnouncement(ann)">{{ann.title}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <!-- end of announcement -->
      <!-- end of div class="row" -->

      <!-- <div class="col-md-7 try" >
        <div  class="panel panel-primary">
          <div class="panel-heading">To do list</div>
          <div class="panel-body" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit distinctio enim dignissimos beatae dicta quia, incidunt sit amet ipsam! Illum maiores illo nisi qui recusandae necessitatibus, quisquam. Sed, odio, cum!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit distinctio enim dignissimos beatae dicta quia, incidunt sit amet ipsam! Illum maiores illo nisi qui recusandae necessitatibus, quisquam. Sed, odio, cum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit distinctio enim dignissimos beatae dicta quia, incidunt sit amet ipsam! Illum maiores illo nisi qui recusandae necessitatibus, quisquam. Sed, odio, cum!
          </div>
        </div>
      </div> -->
    </div>
  </div>

</div>
