<!-- navbar -->
<section ng-include src="'components/modals/changePass.html'"></section>
<section dir-nav></section>
<br>



      <!-- menu bars  -->
  <ul class="nav nav-tabs">
    <li role="presentation" ><a href="#/teacher/home">Overview</a></li>
    <li role="presentation"><a href="#/teacher/classes">Classes</a></li>
    <li role="presentation"><a href="#/teacher/assignment">Assignments</a></li>
    <li role="presentation" class="active"><a href="#/teacher/uploads">Uploads</a></li>
  </ul>
   <!-- </div> -->


    <!--end of menu bars  -->
    <!-- <div class="horizontal"> -->

    <div class="color">
    <!-- margin -->
    <div class="margins">


  <!-- 1sr table -->
  <div class="card2 card-1">


    <div class="try">

  <table class="table table-striped table-bordered table-responsive">
    <thead >
      <tr>
        <th>Uploads</th>
        <th>File Uploaded</th>
        <th>File Size</th>
        <th>Found in</th>
        <th>Actions</th>


      </tr>

    </thead>
    <tbody>
      <tr ng-repeat="file in class.resources">
        <td>John.pdf</td>
        <td>09/09/1999</td>
        <td>999kb</td>
        <td><span>class1</span>, <span>class2</span></td>
        <td>

          <p align="center">
            <button type="button" class="btn btn-success glyphicon glyphicon-download-alt" data-toggle="tooltip" title="Download"></button>
            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete"></button>
            <button type="button" class="btn btn-info glyphicon glyphicon-pencil" data-toggle="tooltip" title="Update"></button>
          </p>
        </td>
      </tr>



    </tbody>
  </table>

<pre>
  {{class.resources | json}}
</pre>
</div>
<!-- end of class try col-md-5 -->
</div>
</div>
  <!-- end of class talbe -->
</div>
<!-- end of class color -->

 <!-- end of marmins -->
