.inner-addon
{
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.search
{
  margin-top: 30px;
  margin-bottom: 50px;
  /*margin-left: 60px;*/
}
p
{
  text-align: justify;
  text-indent: 60px;
}
.panel-heading
{
  background: -webkit-linear-gradient(to right, #267bb5, #f6f1d3);
  background:         -webkit-linear-gradient(left, #267bb5, #f6f1d3);
  background:         linear-gradient(to right, #267bb5, #f6f1d3);
}

hr{
  height:1px;
  background-color:rgb(217, 217, 217);
}

.form-wrapper{
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.1);

  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}
