.group-item {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #64B5F6;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .group-item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    transform: translate(-3px, -10px); }
  .group-item a {
    color: black;
    text-decoration: none; }
    .group-item a:hover {
      color: white; }
  @media only screen and (min-width: 768px) {
    .group-item {
      height: 150px; } }

.main-content {
  margin-top: 20px;
  min-height: 75vh; }
  @media only screen and (min-width: 768px) {
    .main-content {
      margin-left: 100px; } }

#btnJoinGrp {
  background-color: #FFE57F;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: black; }
  #btnJoinGrp:hover, #btnJoinGrp:active, #btnJoinGrp:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    transform: translate(-2px, -2px); }

#btnCreateGrp {
  background-color: #80ff98;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: black; }
  #btnCreateGrp:hover, #btnCreateGrp:active, #btnCreateGrp:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    transform: translate(-2px, -2px); }

.group-jumbo {
  margin: 0; }

.post-panel {
  background: #f8f8f8;
  padding: 70px 0; }

.post-collection {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
  .post-collection .post-container {
    padding: 10px 0;
    margin: 50px 0; }
  .post-collection .post-header {
    padding: 0 30px; }
    .post-collection .post-header .date-right {
      float: right; }
