.group-item {
  padding: 10px;
  margin: 10px;
  box-shadow: 6px 10px 5px 4px #d6ced6;
  background-color: #73cffc;
  transition: box-shadow 0.3s ease, transform 0.3s ease; }
  .group-item:hover {
    box-shadow: 6px 10px 20px -1px #d6ced6;
    transform: translate(-3px, -10px); }
  @media only screen and (min-width: 768px) {
    .group-item {
      height: 150px; } }

.main-content {
  margin-top: 20px; }
  @media only screen and (min-width: 768px) {
    .main-content {
      margin-left: 100px; } }

.inner-addon {
  position: relative; }
  .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none; }

@media only screen and (min-width: 992px) {
  .right-addon {
    right: 200px; } }

.right-addon .fa {
  right: 20px; }

.right-addon input {
  padding-right: 30px; }

.right-distance {
  color: white; }
  @media only screen and (min-width: 992px) {
    .right-distance {
      position: absolute;
      right: 200px; } }

#btnJoinGrp {
  margin: 50px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 7px 9px 5px 0px #cccccc; }
  #btnJoinGrp:hover, #btnJoinGrp:active, #btnJoinGrp:focus {
    box-shadow: 7px 9px 18px 2px #cccccc;
    transform: translate(-2px, -2px); }
