/*styling*/
.row
{
  /*background-color: rgb(39, 38, 98);*/
  background: -webkit-linear-gradient(to top, #5a77b6, #0d2352);
  background:         -webkit-linear-gradient(to top, #5a77b6, #0d2352);
  background:         linear-gradient(to top, #5a77b6, #0d2352);
  width: auto;
  height: 280px;
}
h1
{
  color: white;
  font-family: "Times New Roman";
}
#login
{
  color:rgb(50, 54, 133);
  font-family: Arial;

}
#title
{
    margin-top: 50px;
}
#row2
{
  /*background: #cbe2c1;*/
  background: -webkit-linear-gradient(to right, #a1bed2, #f6f1d3);
  background:         -webkit-linear-gradient(left, #a1bed2, #f6f1d3);
  background:         linear-gradient(to right, #a1bed2, #f6f1d3);
  width: auto;
  height: 340px;
}
#footer
{
  background: -webkit-linear-gradient(to bottom, #5a77b6, #0d2352);
  background:         -webkit-linear-gradient(to bottom, #5a77b6, #0d2352);
  background:         linear-gradient(to bottom, #5a77b6, #0d2352);
  width: auto;
  height: 95px;
}
img
{
  width: 150px;
  height: 150px;
  margin-bottom: -20px;
  margin-top: 5px;
}
a,h2
{
  color: white;
  text-decoration: none;
  display: inline;
  font-family: "Times New Roman";
  font-size: 20px;
  /*margin-top: 60px;*/
}
h2
{
  padding-left: 20px;
  padding-right: 20px;

}
#down
{
  margin-top: 30px;
}
.container
{
  /*margin: auto;*/
  /*width: 400px;*/
}
form
{
  padding-top: 10px;
}
.btn
{
  width: 100%;
}
.inner-addon
{
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
