body { font-family: "Roboto", sans-serif; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, label { font-family: "Ubuntu", Helvetica; }

#profile-brand { width: 6%; height: auto; display: inline; }

img[alt=profPic] { width: 200px; height: auto; }
@media screen and (max-width: 768px) { img[alt=profPic] { width: 100px; height: auto; } }

.navbar { margin-bottom: 0; }

.input-upper { border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; width: 80%; }
@media screen and (max-width: 768px) { .input-upper { width: 100%; } }

.input-lower { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 0; border-top-right-radius: 0; width: 80%; }
@media screen and (max-width: 768px) { .input-lower { width: 100%; } }

.vertical-divider-right { border-left: 1px solid grey; }
@media screen and (max-width: 768px) { .vertical-divider-right { border-left: 0; } }
