#row
  {
    background: -webkit-linear-gradient(to right, #267bb5, #f6f1d3);
    background:         -webkit-linear-gradient(left, #267bb5, #f6f1d3);
    background:         linear-gradient(to right, #267bb5, #f6f1d3);
    width: auto;
    height: 70px;
    padding-left: 50px;
  }
  span
  {
    font-size: 20px;
  }
  h1
  {
    color: white;
  }
  .container
  {
    padding-top: 20px;
    margin: auto;
  }

  .inner-addon
  {
    position: relative;
  }
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  .left-addon .glyphicon  { left:  15px;}
  .right-addon .glyphicon { right: 0px;}
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  #btn
  {
    margin-top: 20px;
  }

  #btn2 a{
    margin-top: 20px;
    padding: 20px;
  }
  #sep
  {
    background: -webkit-linear-gradient(to right, #267bb5, #f6f1d3);
    background:         -webkit-linear-gradient(left, #267bb5, #f6f1d3);
    background:         linear-gradient(to right, #267bb5, #f6f1d3);
    /* width: 175%; */
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #row2
  {
    background: -webkit-linear-gradient(to right, #267bb5, #f6f1d3);
    background:         -webkit-linear-gradient(left, #267bb5, #f6f1d3);
    background:         linear-gradient(to right, #267bb5, #f6f1d3);
    width: auto;
    height: 70px;
  }
