#line
{
  overflow: hidden;
  background-color: #eaeaea;
}
#sign
{
  width: 1375px;
  height: 715px;
  margin-top: -10px;
  margin-left: -10px;
}

#form
{
  width: 600px;
  margin-top:-500px;

}
#lg
{
  width: 130px;
  height: 130px;
  margin-top: -85px;
  margin-left: 200px;
}
#sign
{
  margin-top: -110px;
  margin-left: 350px;
  color: white;
}
.container
{
  margin-top: -630px;
  margin-left: 200px;
  width: 1000px;
  color: black;
}
#line
{
  width: 1000px;
  height: 50px;
  background-color: gray;
  margin-left: 200px;
  margin-top: 50px;
}
#line2
{
  width: 1000px;
  height: 5px;
  background-color: gray;
  margin-left: -15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#line3
{
  width: 1000px;
  height: 5px;
  background-color: gray;
  margin-left: -15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#btn
{
  margin-left: 338px;
  margin-top: 30px;
}
#rad1
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#rad2
{
  margin-top: 10px;
  margin-left: 10px;
}
#rad3
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#rad4
{
  margin-top: 10px;
  margin-left: 10px;
}
