*{
	 /*border: 1px solid red; */
}



span.classname
{
	float:right;
	font-size: 50px;
	margin: 0;
}

div.thumbnail
{
	float: left;
	width: 200px;
	box-shadow: 10px 10px grey;
	margin-left: 30px;
}

img.pp
{
	height: 70px;
	width: 70px;
	float:left;
}

span.name
{
	font-size:20;
}

.list1, .list2
{

	margin-left:5px;
	margin-right: 10px;
}

.list
{
	color:#FF8F0D;
	font-size: 25px;
	/* margin: 20px; */
}

a.list:hover
{
	color: #336699;
}

a.list:focus{
	color: #336699;

}

.change-view{
	padding: 20px;
	float:  right;
	clear: both;
}


.change-view .btn{
	background-color: #6699FF;
	color: white;
}

.change-view .btn-active{
	color: #CC6D00;
	background-color: #62e69b;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

a.thumb:hover
{
  color: black;
  text-decoration: none;
}

thead{
	background-color: rgb(236,232,232);
	/*font-weight: 5100;*/
	font-size: 18px;
}

.push-down{
	margin-top: 26px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/*NAVICON*/
.icon-bar {
		position: fixed;
		height: 100vh;
		width: 90px;
		text-align: center;
		background-color: #336699;
		margin: 0px;
		padding: 0px;
}

.icon-bar a {

	padding-top: 23px;
	display: block;
	transition: all 0.3s ease;
	color: white;
	font-size: 55px;
}

.icon-bar a:hover {
		background-color: #6699FF;
}

.active {
		background-color: #6699FF !important;
}

/*NAVBAR*/
.sidenav {
		margin-left:90px;
		height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #6699FF;
		overflow: hidden;
		transition: 0.5s;
		padding-top: 78px;

}

.sidenav a {
    padding: 8px 8px 8px 20px;
    margin-bottom: 32px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
		font-family: "Ubuntu", Helvetica;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #336699;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding-left: 16px;
}
.class {
	position: absolute;
	top: 20px;
	left: 40%;
	font-size: x-large;
}

/*QUIZ TAB*/
.quizform
{
	margin-left: 20%;
}

.quiztopic,.quizdescription
{
	width: 50%;
}
.quizduration,.quizno,.quizitem
{
	width:25%;
}
.advset
{
	margin-left: 45%;
	color: blue;
	cursor: pointer;
}
.submitquiz
{
	margin-left: 17%;
}
.testtype
{
	width: 50%;
	color: #969696;
}
.questform
{
	margin-left: 18%;
}
.quest
{
	width: 50%;
}
.questchoice
{
	width: 50%;
	margin-bottom: 15px;
}
.addquest
{
	margin-left: 17.5%;
}
.answer
{
	width: 50%;
}
.submitquest
{
	margin-top: 10px;
}
