div.panel-body
{
	width: 105px;
	font-size: 48;
	margin:0;
	background-color: #0d77b6;
	height: 665;

}


div.panel
{
	width: 1240;
	float:right;
 margin: 10 10 10 10;

	height:600;
}

body
{
	background-color: #29a3a3;
}

span.classname
{
	float:right;
	font-size: 30;
	margin: 0;
}

nav
{
	font-size:20;

}

div.ul li
{
	margin-bottom: 50;
}

div.class
{
	float:right;
	font-size: 30;
	color: white;
	margin-right: 480;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
		margin-bottom:5;
}
