.ng-scope{
  /* background: #FAFAFA; */
}
/**{
  border: 1px solid red
}*/
p
{
  text-align: justify;
  text-indent: 60px;
}
.panel-heading
{
  background: #1976D2;
}
textarea
{
  padding: 10px;
  resize: none;
  height: 100px;
  overflow-y: auto;
}
.nest
{
  margin-left: 50px;
}

hr{
  height:1px;
  background-color:rgb(249,249,249);
}

.forum_wrapper p{
  font-size: 16px;
  line-height: 30px;
  word-break: break-all;
}

.comments p{
  font-size: 14px;
}

.post-content{
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  margin: 20px;
}
.post-content>h5{
  display: inline;
  margin-right: 20px;
}

.comment-content{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.32);
  margin-top: 20px;
}
