<!-- <div class="tab-content">
  <div id="menu1" class="tab-pane fade in active"> -->
    <br>
    <!-- <div class=" col-md-12 col-xs-12"> -->
      <!-- <div class="panel panels" id="accordion"> -->
        <div class="panel-heading head">
          <h3 class="panel-title "><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" >CRYPTOZOOLOGY</a><span class="glyphicon glyphicon-eye-open pull-right"></span></h3>
          <h6><span class="glyphicon glyphicon-user" style="color:#d7b058;"></span> Teacher: Doofinsmirtz &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-calendar" style="color:#d7b058;"></span> M W F 9:00 AM</h6>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body" style="height:200px;">
            <section class="badge pending">
              <h4>Pending: <b>Quiz No. 4</b></h4>
            </section>
            <section>
              <h5><span class="glyphicon glyphicon-hand-right" style="color: #1d6996;"> you better finish it scumbag</span></h5>
            </section>
          </div>
        </div>

      <!-- </div> -->
    <!-- </div> -->
    <div class=" col-md-12 col-xs-12">
      <div class="panel panels" id="accordion">
        <div class="panel-heading head">
          <h3 class="panel-title "><a href="#collapsetwo" data-toggle="collapse" data-parent="#accordion">ANATOMY</a></h3>
          <h6><span class="glyphicon glyphicon-user" style="color:#d7b058;"></span>
            Teacher: Kevin Sorbo &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-calendar" style="color:#d7b058;"></span> M W F 9:00 AM</h6>
        </div>
        <div id="collapsetwo" class="panel-collapse collapse">
          <div class="panel-body" style="height:200px;" >

          </div>
        </div>
      </div>
    </div>

    <div class=" col-md-12 col-xs-12">
      <div class="panel panels" id="accordion">
        <div class="panel-heading head">
          <h3 class="panel-title "><a href="#collapsethree" data-toggle="collapse" data-parent="#accordion">PHILOSOPHY</a></h3>
          <h6><span class="glyphicon glyphicon-user" style="color:#d7b058;"></span> Teacher: Kevin Sorbo &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-calendar" style="color:#d7b058;"></span> M W F 9:00 AM</h6>
        </div>
        <div  id="collapsethree" class="panel-collapse collapse">
          <div class="panel-body" style="height:200px;" >

          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-12 col-xs-12">
      <div class="panel panels" id="accordion">
        <div class="panel-heading head">
          <h3 class="panel-title "><a href="#collapsefour" data-toggle="collapse" data-parent="#accordion">ASTRONOMY</a></h3>
          <h6><span class="glyphicon glyphicon-user" style="color:#d7b058;"></span> Teacher: Kevin Sorbo &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-calendar" style="color:#d7b058;"></span> M W F 9:00 AM</h6>
        </div>
        <div id="collapsefour" class="panel-collapse collapse">
          <div class="panel-body" style="height:200px;" >

          </div>
        </div>

      </div>
    </div>
