

  <section class="col-md-6 col-xs-6 pull-right inner-addon right-addon">
    <i class="glyphicon glyphicon-search " role="button"></i>
    <input type="text" name="search" value="" class="form-control" placeholder="search files" ng-model="searchFiles">
  </section>
  <h3>Uploaded Files</h3>
  <br>
  <div class="" ng-repeat="sched in theSchedule | filter: searchFiles">
    <h1 >{{sched.Subject}}</h1>
    <hr>
    <table class="table table-striped" >
      <th>File Name</th>
      <!-- <th>Date</th> -->
      <th>Size</th>
      <th>Download</th>


      <tr ng-repeat="file in sched.resources">
        <td>{{file.name}}</td>
        <!-- <td>June 5 2009</td> -->
        <td>{{file.size}}</td>
        <td>
          <a type="button" class="glyphicon glyphicon-download-alt icon" role="button" style="color:rgb(76, 143, 231);" data-toggle="tooltip" title="download" href="{{file.url}}" target="_blank"></a>
        </td>
      </tr>

    </table>
  </div>
