<section ng-include src="'components/partials/adminNav.html'"></section>

<div class="container">
    <h1 class="big-header">Forum</h1>
</div>

<div class="container ">
  <div class="col-md-3 col-xs-12 admin-controls">
    <input type="text" name="search_groups" value="" class="form-control" placeholder="Search">
  </div>
</div>

<div class="container table-outline">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>post_id</th>
        <th>title</th>
        <th>user_id</th>
        <th>createdOn</th>
        <th>file_path</th>
        <th>isActive</th>
        <th>isReported</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td><button type="button" class="btn btn-danger">Decativate</button></td>
      </tr>
  </table>
</div>
