<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>post_id</th>
        <th>title</th>
        <th>user_id</th>
        <th>createdOn</th>
        <th>file_path</th>
        <th>isActive</th>
        <th>isReported</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
      </tr>
  </table>
</div>
