<dir-admin-nav></dir-admin-nav>

<div class="container">
    <h1 class="big-header">Subjects <small>{{filteredSubjects.length}}</small></h1>
</div>

<div class="container">
  <div class="admin-controls">

    <div class="col-md-3 col-xs-12">
      <input type="search" class="form-control" ng-model="searchSubject" placeholder="Search">
    </div>
    <button type="button" class="btn btn-success" ng-click="toggleAdd = !toggleAdd"><span class="fa fa-plus"></span> Add</button>
  </div>
</div>

<div class="container animate-fade" ng-hide="toggleAdd">
  <div class="row col-md-10">
    <div class="well container">
      <form name="subjectForm">


        <div class="row others">
          <!-- Subject name -->
          <div class="col-md-3  col-md-offset-2"
            ng-class="{ 'has-error' : subjectForm.sName.$invalid && subjectForm.sName.$touched }">
            <label>Subject name`:</label>
            <input type="text" placeholder="Subject name" class="form-control" name="sName" ng-model="sub.name" required>
            <p ng-show="subjectForm.sName.$error.required && subjectForm.sName.$touched" class="help-block">Subject name is required.</p>
          </div>

          <!-- Year levels -->
          <div class="col-md-3"
            ng-class="{ 'has-error' : subjectForm.level.$invalid && subjectForm.level.$touched }">
            <label>Year level:</label>
            <input type="number" name="level" min="0" class="form-control" required  ng-model="sub.levels">
            <p ng-show="subjectForm.level.$invalid && subjectForm.level.$touched" class="help-block">Year level is invalid.</p>
            <p ng-show="subjectForm.level.$error.required && subjectForm.level.$touched" class="help-block">Year level is required.</p>
          </div>

        </div>


        <!-- DESCRIPTION -->
        <div class="row others">
          <div class="col-md-8  col-md-offset-2"
            ng-class="{ 'has-error' : subjectForm.description.$invalid && subjectForm.description.$touched }">
            <label>Description:</label>
            <textarea rows="3" class="form-control" name="description" placeholder="Ex. First year algebra...." ng-model="sub.description" required></textarea>
            <p ng-show="subjectForm.description.$invalid && subjectForm.description.$touched" class="help-block">Description is invalid.</p>
            <p ng-show="subjectForm.description.$error.required && subjectForm.description.$touched" class="help-block">Desc is required.</p>
          </div>
        </div>


        <button type="button" class=" others btn btn-success btn-lg pull-right " ng-disabled="subjectForm.$invalid" ng-click="insertSubject(sub)">
          Submit
        </button>


      </form>
    </div>
  </div>
</div>

<div class="container table-outline">
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th><input type="checkbox" ng-model="selectedAll"  ng-click="checkAll()"></th>
        <th>
          <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Subject
          </a>
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Year levels
          </a>
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Description
          </a>
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            isActive
          </a>
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="subject in theSubjects | orderBy:sortType:sortReverse | filter: searchSubject as filteredSubjects">
        <td><input type="checkbox" ng-model="subject.Selected"></td>
        <td>{{subject.name}}</td>
        <td>{{subject.levels}}</td>
        <td>{{subject.description}}</td>
        <td>{{subject.isActive}}</td>
        <td>
          <button type="button" class="btn btn-success"
            ng-click="activate(subject.$id)" ng-show="subject.isActive == false">
            Activate
          </button>
          <button type="button" class="btn btn-danger"
            ng-click="deactivate(subject.$id)"
            ng-show="subject.isActive == true">
            Deactivate
          </button>
          <button type="button" class="btn btn-info" ng-show="subject.isActive == true">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
