<div>
  <div class="classx">
    <!-- <h5>CI701A-C</h5>
    <h5>/</h5>
    <h5>10:30 AM</h5> -->
  </div>

  <div class="panel pull-right col-sm-11" style="margin-top: 50px;   ">
    <ul class="nav nav-tabs">
      <li><a href="#/class_dashboard/{{classID}}/createannouncement" style="color:#555;">Announcement</a></li>
      <li class="active"><a href="#/class_dashboard/{{classID}}/createassignment" style="color:#555;">Assignment</a></li>
      <li><a href="#/class_dashboard/{{classID}}/createquiz" style="color:#555;">Quiz</a></li>
    </ul>
      <h1>Create Assignment</h1><br>
      <form name="create_ass">
        <div class="form-group">
          <label class="col-md-offset-6">Deadline:</label>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
          <input ng-model="ass.title" type="text" name="title" class="form-control col-md-2 asstitle" placeholder="Enter title here" required>
          <input type="datetime-local" name="deadline" min="{{ dateNow | date: 'yyyy-MM-ddTHH:mm'}}" ng-model="ass.deadline" class="form-control cre8deadline">
          <span ng-show="create_ass.title.$invalid && create_ass.title.$touched" class="cre8asstitleErr">This field is required.</span>
          <span ng-show="create_ass.deadline.$error.min" class="cre8assdeadlineErr">Deadline is invalid.</span>
        </div>
        <div class="form-group">
          <textarea ng-model="ass.cont" name="content" rows="8" class="form-control cre8txtarea " placeholder="Enter content here" required></textarea>
        </div>
        <button ng-click="saveAss(ass)" ng-disabled="create_ass.$invalid" type="submit" class="btn btn-success cre8submit">Submit</button>
      </form>
      <!-- <form id="get-data-form" method="post">
        <textarea class="tinymce" id="mytextarea">Input text here!</textarea>
        <input type="submit" value="POST">
      </form>
      <div id="data-container">
      </div> -->
      <!-- <button type="button" class="btn btn-success pull-right">Post</button> -->
  </div>

  <div ng-include src="'components/partials/classnavbar.html'">  </div>

</div>

<!-- <script>
$(document).ready(function(){
  $("#get-data-form").submit(function(e){
    var content = tinymce.get("mytextarea").getContent();
    $("#data-container").html(content);
    return false;
  });
});

</script> -->
