<div>
    <div class="class">
  	  	SAMPLE- CI602A-C- 10:30AM
    </div>



      <!-- thumbnail -->
      <div class="btn-group change-view" data-toggle="buttons">
        <a class="btn  list"  href="#/class_dashboard/class_recordList" title="List View" >
          <input type="radio" name="options" > <span class="glyphicon glyphicon-th-list list1"></span>
        </a>
        <a class="btn btn-active list" disabled href="#/class_dashboard/class_recordThumb" title="Thumbnail view">
          <input type="radio" name="options" > <span class="glyphicon glyphicon-th-large list2"></span>
        </a>
      </div>



    <div class="pull-right col-md-11">


      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Antonio </br> Amolo Jr. </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Franchette </br> Camoro</span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Jan Paul </br> Reyes </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Rhea Jean </br> Anacaya </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Opaw </br> Carreon </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Aldwen </br> Pega </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Kirk </br> Lagunzad </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Jerameeeh </br> Baquiler </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Bev </br> Lindayao </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Rodchel</br> Espanola </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Reynand </br> Largo </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Gab </br> TheGreat </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Angelo </br> TheDog </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Mark </br> DeGuzman </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Bev </br> Lindayao </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Rodchel</br> Espanola </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Reynand </br> Largo </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Gab </br> TheGreat </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Angelo </br> TheDog </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Mark </br> DeGuzman </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Reynand </br> Largo </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Gab </br> TheGreat </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Angelo </br> TheDog </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Mark </br> DeGuzman </span></a>
      </div>
      <div class = "thumbnail">
          <a class="thumb" href="#"><img class="pp" src="assets\avatars\PP.png" />
          <span class="name">Antonio </br> Amolo Jr. </span></a>
      </div>

    </div>


		<div ng-include src="'components/partials/classDashMenu.html'">  </div>
	</div>
