<div>
  <!-- <div class="class">
  SAMPLE- CI602A-C- 10:30AM
  </div> -->
  <div class="classx">
    <h5>CI701A-C</h5>
    <h5>/</h5>
    <h5>10:30 AM<h5>
  </div>

  <div class="panel pull-right col-sm-11" style="margin-top: 50px;   ">

    <div class="dropdown dropdown-adjust">
      <div class="form-group col-sm-2">
        <label>Sort</label>
        <select class="form-control">
          <option>Date</option>
          <option>Type</option>
          <option>Filename</option>
        </select>

      </div>


      <div class="form-group col-sm-2">
        <label>Show</label>
        <select class="form-control">
          <option>All </option>
          <option>Zip</option>
          <option>PDF</option>
        </select>

      </div>


      <div class="form-group col-sm-2 push-down">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span> Option
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Mark</a></li>
          <li><a href="#">Star</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </div>

      &nbsp;&nbsp;
      <div class="form-group col-sm-1 push-down pull-right">
        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" dir-file-input="fileGetter"/>
        <!-- <button type="button" class="btn btn-success pull-right">
          <span class="glyphicon glyphicon-plus"></span> Add
        </button> -->
      </div>

    </div>

    <!-- TABLE -->
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th><span class="glyphicon glyphicon-unchecked"></span>Icon</th>
          <th>File Name</th>
          <th>File Size</th>
          <th>Date Uploaded</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></td>
          <td>Sample.html</td>
          <td>5mb</td>
          <td>5/8/2016</td>
          <td><button data-toggle="tooltip" title="Download" type="button" class="btn btn-success"><i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Rename" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
          <button data-toggle="tooltip" title="Delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></td>
          <td>Donkey.html</td>
          <td>5mb</td>
          <td>5/8/2016</td>
          <td><button data-toggle="tooltip" title="Download" type="button" class="btn btn-success"><i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Rename" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
          <button data-toggle="tooltip" title="Delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></td>
          <td>Maaa.html</td>
          <td>5mb</td>
          <td>5/8/2016</td>
          <td><button data-toggle="tooltip" title="Download" type="button" class="btn btn-success"><i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Rename" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
          <button data-toggle="tooltip" title="Delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></td>
          <td>Fart.html</td>
          <td>5mb</td>
          <td>5/8/2016</td>
          <td><button data-toggle="tooltip" title="Download" type="button" class="btn btn-success"><i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Rename" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
          <button data-toggle="tooltip" title="Delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></td>
          <td>Opaw.html</td>
          <td>5mb</td>
          <td>5/8/2016</td>
          <td><button data-toggle="tooltip" title="Download" type="button" class="btn btn-success"><i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Rename" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
          <button data-toggle="tooltip" title="Delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></td>
          <td>Bayot.html</td>
          <td>5mb</td>
          <td>5/8/2016</td>
          <td><button data-toggle="tooltip" title="Download" type="button" class="btn btn-success"><i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Rename" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
          <button data-toggle="tooltip" title="Delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></td>
          <td>Edmer.html</td>
          <td>5mb</td>
          <td>5/8/2016</td>
          <td><button data-toggle="tooltip" title="Download" type="button" class="btn btn-success"><i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Rename" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
          <button data-toggle="tooltip" title="Delete" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

        </tr>
      </tbody>
    </table>

  </div>

  <div ng-include src="'components/partials/classnavbar.html'">  </div>

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
