<div>
  <!-- <div class="class">
	  	SAMPLE- CI602A-C- 10:30AM
  </div> -->
  <!-- <div class="classx">
    <h5>CI701A-C</h5>
    <h5>/</h5>
    <h5>10:30 AM</h5>
  </div> -->

  <!-- TODO: include to all class dash-->
  <div class="pull-right" style="
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(248, 205, 62);
    ">
    <div class="container text-center">
      <h2>content</h2>

    </div>
  </div>

  <div class="pull-right col-md-11" >

      <!-- thumbnail -->
      <div class="btn-group change-view" data-toggle="buttons">
        <!-- <a class="btn list" href="#/class_dashboard/{{classID}}/class_recordThumb" title="Thumbnail view">
          <input type="radio" name="options" > <span class="glyphicon glyphicon-th-large list2"></span>
        </a> -->
        <input type="text" ng-model="selectStudents" placeholder="Email" typeahead-loading="loadingStudents" uib-typeahead="email.email for email in users | filter:{email:$viewValue, utype:'student' ,isActive: true} | limitTo:8" class="form-control">
         <i ng-show="loadingStudents" class="glyphicon glyphicon-refresh"></i>
        <button type="button" class="btn btn-success" ng-click="add(selectStudents)" >Add student</button>
      </div>

      <!-- TABLE -->
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th>Image</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in students().students">
            <td>image here</td>
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="removeStudent(student.s_id)">Remove</button></td>
          </tr>
        </tbody>
      </table>


  </div>
  <div ng-include src="'components/partials/classnavbar.html'">  </div>
</div>
