<div>
  <div class="panel panel-default notif col-md-3">
    <div class="panel-heading">
      <h3 class="panel-title">Notifications</h3>
    </div>
    <div class="panel-body">
      <div>Quizzes<hr>
        <div ng-repeat="quiz in Quiz" ng-show="quiz.q_subjectID == schedID.$id">
          <ul>
            <li><a href="#/start_quiz/{{quiz.$id}}" >{{quiz.q_title}}</a></li><hr>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="postwrapper container col-md-7" ng-repeat="ancmnt in Post.$$state.value | orderBy:'-timecreated'">
    <h3>{{ancmnt.title}}</h3>
    <hr>
    <p>
      {{ancmnt.cont}}
    </p>
  </div>
<div ng-include src="'components/partials/classnavbar.html'">  </div>
</div>
