<div>
  <!-- <div class="class">
    SAMPLE- CI602A-C- 10:30AM
  </div> -->
  <div class="classx">
    <h5>CI701A-C</h5>
    <h5>/</h5>
    <h5>10:30 AM<h5>
  </div>
  <div class="panel pull-right col-sm-11" style="margin-top: 50px;   ">
    <ul class="nav nav-tabs">
      <li><a href="#/class_dashboard/createannouncement" style="color:#555;">Announcement</a></li>
      <li><a href="#/class_dashboard/createassignment" style="color:#555;">Assignment</a></li>
      <li class="active"><a href="#/class_dashboard/createquiz" style="color:#555;">Quiz</a></li>
    </ul>

    <h1>Create Quiz</h1>
    <form id="qset" class="form-horizontal quizform" name="createQuizFrm" ng-show="openSettings">
      <div class="form-group">
        <label class="control-label col-sm-2">Quiz No:</label>
        <div class="col-sm-10">
          <input type="number" min="0" class="form-control quizno" ng-Model="quiz.qnum" placeholder="Enter quiz number">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Title:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control quiztopic" ng-Model="quiz.qtitle"  placeholder="Enter title">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Description:</label>
        <div class="col-sm-10">
          <textarea rows="3" class="form-control quizdescription" ng-Model="quiz.qdesc"  placeholder="Enter description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Duration:</label>
        <div class="col-sm-10">
          <input type="number" min="0" class="form-control quizduration" ng-Model="quiz.qduration" placeholder="Enter duration(mins)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">No. of items:</label>
        <div class="col-sm-10">
          <input type="number" min="0" class="form-control quizitem" ng-Model="quiz.qitem" placeholder="Enter number of items">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Test type:</label>
        <div class="col-sm-10">
          <select class="form-control testtype" ng-Model="quiz.qtype">
            <option disabled="true">Select test type</option>
            <option value="Multiple Choice">Multiple Choice</option>
            <option value="True or False">True or False</option>
          </select>
        </div>
      </div>
      <a  data-toggle="modal" data-target="#myModal" class="advset">Advanced settings</a></br>
      <button id="cre8" type="submit" class="btn btn-success submitquiz" ng-disable="createQuizFrm.$invalid" ng-click="setQuiz(quiz)">Create Quiz</button>
    </form></br>

    <!-- modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Advanced settings</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>

<!-- accordion ui-bootstrap setup -->
    <script type="text/ng-template">
      <div class = "panel panel-default">
        <div class ="panel-heading">
          <h4 class = "panel-title">
            <a href class="accordion-toggle" ng-click="toggleOpen()"></a>
          </h4>
        </div>
        <div class = "panel-collapse collapse" uib-collapse="!isOpen">
          <!-- <div class = "panel-body100"></div> -->
        </div>
      </div>
    </script>

    <!-- MULTIPLE CHOICE -->
      <uib-accordion ng-show="openAccordsMC">
        <div uib-accordion-group is-open="$first" class="panel2 panel-default" ng-repeat="i in getNumber() track by $index">
          <uib-accordion-heading>
            Question {{$index + 1}}: {{mc.q[$index].quest}}
          </uib-accordion-heading>
          <uib-accordion-body>

            <form class="form-horizontal questform">
              <div class="form-group">
              <label class="control-label col-sm-2">Question:</label>
              <div class="col-sm-10">
                <textarea class="form-control quest" ng-model="mc.q[$index].quest" placeholder="Enter question"></textarea>
              </div>
              </div>
                <div class="form-group">
                <label class="control-label col-sm-2">True Answer:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control answer" ng-model="mc.q[$index].answer" placeholder="Enter a true answer">
                  </div>
                </div>
              <div class="form-group">
              <label class="control-label col-sm-2">Dummy Answers:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control questchoice" ng-model="mc.q[$index].dummy1" placeholder="Enter a dummy answer">
                  <input type="text" class="form-control questchoice" ng-model="mc.q[$index].dummy2" placeholder="Enter a dummy answer">
                  <input type="text" class="form-control questchoice" ng-model="mc.q[$index].dummy3" placeholder="Enter a dummy answer">
                </div>
              </div>
            </form>
          </uib-accordion-body>
        </div>

        <button type="submit" class="btn btn-success submitquest" ng-click="saveQuizMC(mc)">Submit</button>
      </uib-accordion>
      <!-- </div> -->


      <!-- TRUE OR FALSE -->
        <uib-accordion ng-show="openAccordsTOF">
          <div uib-accordion-group is-open="$first" class="panel2 panel-default" ng-repeat="i in getNumber() track by $index">
            <uib-accordion-heading>
              Question {{$index + 1}}: {{tof.q[$index].quest}}
            </uib-accordion-heading>
            <uib-accordion-body>

              <form class="form-horizontal questform">
                <div class="form-group">
                <label class="control-label col-sm-2">Question:</label>
                <div class="col-sm-10">
                  <textarea class="form-control quest" ng-model="tof.q[$index].quest" placeholder="Enter question"></textarea>
                </div>
                </div>
                <div class="col-md-offset-3">
                  <div class="form-group col-md-3">
                      <input type="radio" name="name" value="true" ng-model="tof.q[$index].answer"> TRUE
                  </div>
                  <div class="form-group col-md-3">
                      <input type="radio" name="name" value="false" ng-model="tof.q[$index].answer"> FALSE
                  </div>
                </div>
              </form>

            </uib-accordion-body>
          </div>

          <button type="submit" class="btn btn-success submitquest" ng-click="saveQuizTOF(q)">Submit</button>
        </uib-accordion>

  </div>

  <div ng-include src="'components/partials/classnavbar.html'">  </div>

</div>
