$background-color: rgb(255,254,250)
$group-item:  #64B5F6

.group-item
  padding: 10px
  margin: 10px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12)
  background-color: $group-item
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  &:hover
    box-shadow: 0 14px 28px rgba(0,0,0,0.25)
    transform: translate(-3px, -10px)
  a
    color: black
    text-decoration: none
    &:hover
      color: white
  @media only screen and (min-width : 768px)
    height: 150px


.main-content
  margin-top: 20px
  min-height: 75vh
  @media only screen and (min-width : 768px)
    margin-left: 100px


#btnJoinGrp
  background-color: #FFE57F
  box-shadow: 0 1px 3px rgba(0,0,0,0.12)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  color: black
  &:hover, &:active, &:focus
    box-shadow: 0 14px 28px rgba(0,0,0,0.25)
    transform: translate(-2px, -2px)

#btnCreateGrp
  background-color: #80ff98
  box-shadow: 0 1px 3px rgba(0,0,0,0.12)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  color: black
  &:hover, &:active, &:focus
    box-shadow: 0 14px 28px rgba(0,0,0,0.25)
    transform: translate(-2px, -2px)


.group-jumbo
  margin: 0
  background-color: #FFE57F
.post-panel
  background: #f8f8f8
  padding: 70px 0
.post-collection
  background: white
  box-shadow: 0 1px 3px rgba(0,0,0,0.15)
  .post-input
    margin: 50px
  .post-container
    padding: 10px 0
    margin: 50px 0
  .post-header
    padding: 0 30px
    .date-right
      float: right
  .post-content
