$break-xs: 360px
$break-sm: 768px
$break-md: 992px
$break-lg: 1200px

$input-border-radius: 10px

body
  font-family: 'Roboto', sans-serif


.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6, label
  font-family: 'Ubuntu', Helvetica


#profile-brand
  width: 6%
  height: auto
  display: inline

img[alt=profPic]
  width: 200px
  height: auto
  @media screen and (max-width: $break-sm)
    width: 100px
    height: auto

.navbar
  margin-bottom: 0


input
.input-upper
  border-top-left-radius: $input-border-radius
  border-top-right-radius: $input-border-radius
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  width: 80%
  @media screen and (max-width: $break-sm)
    width: 100%


.input-lower
  border-bottom-left-radius: $input-border-radius
  border-bottom-right-radius: $input-border-radius
  border-top-left-radius: 0
  border-top-right-radius: 0
  width: 80%
  @media screen and (max-width: $break-sm)
    width: 100%

.vertical-divider-right
  border-left: 1px solid grey
  @media screen and (max-width: $break-sm)
    border-left: 0
