$break-xs: 360px
$break-sm: 768px
$break-md: 992px
$break-lg: 1200px

$navbar-background: #19b5fe

$input-border-radius: 10px

$color-varation1: #19B3FE
$color-varation2: #0187C8
$color-compliment:#ff8f0d


body
  font-family: 'Roboto', sans-serif


.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6, label
  font-family: 'Ubuntu', Helvetica


.navbar-custom
  background-color: $navbar-background
  .navbar-brand
    color: white
    &:hover
      color: $color-compliment
      background-color: transparent
    &:active, &:focus
      background-color: $color-varation2
  .navbar-text
    @extend .navbar-brand
  .navbar-nav
    li
      a
        @extend .navbar-brand
      .dropdown-menu
        @extend .navbar-custom
        li
          &:active, &:focus
            background-color: $color-varation2
    .open>a
      background-color: $color-varation2

#profile-brand
  width: 10%
  height: auto
  display: inline

img[alt=profPic]
  width: 200px
  height: auto
  @media screen and (max-width: $break-sm)
    width: 100px
    height: auto

.navbar
  margin-bottom: 0


input
  .input-upper
    border-top-left-radius: $input-border-radius
    border-top-right-radius: $input-border-radius
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    width: 80%
    @media screen and (max-width: $break-sm)
      width: 100%


  .input-lower
    border-bottom-left-radius: $input-border-radius
    border-bottom-right-radius: $input-border-radius
    border-top-left-radius: 0
    border-top-right-radius: 0
    width: 80%
    @media screen and (max-width: $break-sm)
      width: 100%

.vertical-divider-right
  border-left: 1px solid black
  @media screen and (max-width: $break-sm)
    border-left: 0


.profile-banner
  background-color: $color-varation2
  .well
    background-color: $color-varation1
    border-color: #2484e8

.panel-default > .panel-heading
  background-color: $color-varation1
