<!-- change password modal -->
<div id="changePass" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">

        <!-- form in modal -->
        <form name="frmChangePass">

          <!-- //new pass -->
          <div class="form-group" ng-class="{ 'has-error' : frmChangePass.new.$invalid && frmChangePass.new.$touched}">
            <label class="col-md-12" >New password</label>
            <input type="text" name="new" class="form-control input-upper " minlength="8" placeholder="New password" ng-model="pw" required>
            <p class="help-block" ng-show="frmChangePass.new.$error.minlength && frmChangePass.new.$touched">Password must be at least 8 characters</p>
          </div>

          <!-- //confirm pass -->
          <div class="form-group" ng-class="{ 'has-error' : frmChangePass.conPW.$invalid && frmChangePass.conPW.$touched}">
            <label class="col-md-12">Confirm password</label>
            <input type="text" class="form-control input-upper " name="conPW" ng-model="cons" placeholder="confirm password" ng-pattern="pw" required>
            <p ng-show="frmChangePass.conPW.$error.required && reg_form.conPW.$dirty" class="help-block">Confirmation of password is required.</p>
            <p ng-show="frmChangePass.conPW.$error.pattern && frmChangePass.conPW.$dirty" class="help-block">Passwords do not match!</p>
          </div>

          <button type="button" class="btn btn-primary" ng-click="newPass(pw)">Save changes</button>


        </form>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
