
.borders{
 border: 1px solid black;

}
#duedate{
 margin-right: 10px;
}
#ohla{
 /*background-color:rgb(45,237,99);*/
 height:  500px;
 width:800px;
 margin-right:25px;
 float:right;
 margin-top:25px;
 overflow-y: auto;

}
.item-menu{
  overflow-y: auto;
  background: #2196F3;
  height: 530px;
  width: 350px;
  margin-left:10px;
  margin-top:10px;
    padding-left: 0px;
    padding-right: 0px;

}
.card {
background: #fff;
border-radius: 2px;
display: inline-block;
height: 550px;
margin-top: 10px;
position: relative;
width: 370px;
margin-left:60px;
}
.card2 {
background: #fff;
border-radius: 2px;
display: inline-block;
height: 550px;
float:right;
margin-top: 10px;
position: relative;
width: 850px;
margin-right:60px;
}

.card-1 {

box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.color{
height: 100%;;
width: 100%;
background-color: #FAFAFA;

}


/*profile*/
body { font-family: "Roboto", sans-serif; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: "Ubuntu", Helvetica; }

#profile-brand { width: 6%; height: auto; display: inline; }

img[alt=profPic] { width: 200px; height: auto; }

.navbar { margin-bottom: 0; }

.word-fluid { word-wrap: break-word; }
