<nav class="navbar navbar-custom" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      &#9776;
    </button>
    <a class="navbar-brand" href="#/admin">Admin</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">

      <li class="nav-item" ng-class="{'navActive': location('#/admin')}">
        <a class="nav-link" href="#/admin">
          <span class="glyphicon glyphicon-user"></span>
          <span>Users</span>
        </a>
      </li>

      <li class="nav-item" ng-class="{'navActive': location('#/admin/events')}">
        <a class="nav-link" href="#/admin/events">
          <span class="glyphicon glyphicon-calendar"></span>
          <span>Events</span>
        </a>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-book"></span>
          <span>Class</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item" ng-class="{'navActive': location('#/admin/subjects')}">
            <a class="nav-link" href="#/admin/subjects">
              <span class="glyphicon glyphicon-apple"></span>
              <span>Subjects</span>
            </a>
          </li>

          <li class="nav-item" ng-class="{'navActive': location('#/admin/class_management')}">
            <a class="nav-link" href="#/admin/class_management">
              <span class="fa fa-clock-o"></span>
              <span>Class management</span>
            </a>
          </li>

          <li class="nav-item" ng-class="{'navActive': location('#/admin/sections')}">
            <a class="nav-link" href="#/admin/sections">
              <span class="fa fa-child"></span>
              <span>Sections</span>
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item" ng-class="{'navActive': location('#/admin/groups')}">
        <a class="nav-link" href="#/admin/groups">
          <span class="fa fa-users"></span>
          <span>Groups</span>
        </a>
      </li>


      <!-- <li class="nav-item" ng-class="{'navActive': location('#/admin/forum')}">
        <a class="nav-link" href="#/admin/forum">
          <span class="fa fa-sticky-note"></span>
          <span>Forum</span>
        </a>
      </li> -->


    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a>Change Password</a></li>
          <li class="nav-item"><a ng-click="logOutUser()">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<section ng-include src="'components/modals/changePass.html'"></section>
