
<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7">
        <nav class="footer-strip__nav">
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="http://www.stccebu.edu.ph/">Main</a></li>
            <li><a href="">Issues</a></li>
            <li><a href="">Developers</a></li>
            <!--<li><a href="/press">Press</a></li>
            <li><a href="/advertise">Advertise</a></li>-->
          </ul>
        </nav>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5">
        <span class="footer-strip__copy">
          copyright @2016  All Rights Reserved.
        </span>
      </div>


    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end footer-strip -->
