
<section dir-nav></section>

  <div class="jumbotron group-jumbo">
    <div class="container">
      <h1>{{grpInfo.name}}</h1>
    </div>
  </div>

<div class="container-fluid post-panel">
  <div class="container">

    <div class="form-group col-md-9 post-input">
      <textarea class="form-control" rows="5" placeholder="Post here" style="resize:none" ng-model="group_post.content"></textarea>
      <div class="pull-right">
        <button type="button" class="btn btn-info" ng-click="addGrpPost(group_post)">Post</button>
      </div>
    </div>

    <div class="col-md-9 post-collection">

      <div class="post-container" ng-repeat="post in posts | orderBy:'-time'">
        <hr>
        <div class="post-header">
          <h3>Name <small class="date-right">{{ (post.time * 1000) | date:"MMM d, y h:mm a"}}</small></h3>
        </div>
        <hr>
        <p class="post-content">
          {{post.content}}
        </p>
        <hr>
      </div>

    </div>
    <div class="col-md-3">

      <div class="panel panel-default panels">
        <div class="panel-heading">
          <h3 class="panel-title " style="color:white;">Add members</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <button type="button" class="btn"> + </button>

          </div>
        </div>
      </div>

      <div class="panel panel-default panels">
        <div class="panel-heading">
          <h3 class="panel-title " style="color:white;">Description</h3>
        </div>
        <div class="panel-body">
          {{grpInfo.desc}}
        </div>
      </div>

    </div>
  </div>
</div>

<section ng-include src="'components/partials/footer_def.html'"></section>
