<ul class="nav nav-tabs">
  <div id="menu2" class="tab-pane fade">
    <table class="badges col-md-6 text-center">
      <h3>your achievements as of today !</h3>
        <hr>
      <tr>
        <td>
          <section class="badge achievement">
          <img src="images/badge.png" alt="badge"/>
            <h4>QUIZ NO. 4</h4>
            <h5>perfect score</h5>
          </section>
        </td>
        <td>
          <section class="badge achievement">
          <img src="images/badge.png" alt="badge"/>
            <h4>QUIZ NO. 4</h4>
            <h5>perfect score</h5>
          </section>
        </td>
        <td>
          <section class="badge achievement">
          <img src="images/badge.png" alt="badge"/>
            <h4>QUIZ NO. 4</h4>
            <h5>perfect score</h5>
          </section>
        </td>
      </tr>
    </table>
  </div>

</ul>
