<section ng-include src="'components/partials/navbar.html'"></section>

<div class="container">
  <br>
  <h2>Write Forum</h2>
  <hr>
  <form class="form_group" name="myForm">
    <div class="col-md-4 col-md-offset-2">
      <input type="text" name="name" value="" placeholder="forum title here" class="form-control" ng-model="forum.titles">
    </div>

    <div class="col-md-8 col-md-offset-2">
      <br>
      <textarea name="content" rows="10" cols="number" class="form-control" ng-model="forum.contents" ng-maxlength="400"></textarea>
      <span ng-if="!myForm.content.$valid">Sorry, too long.</span>
    </div>

    <div class="col-md-6 col-md-offset-8">
      <br>
      <input type="submit" name="btnpost" style="width:90px; "class="btn btn-primary" value="POST" ng-click="addForum(forum)" ng-disabled="!myForm.content.$valid">
      <input type="submit" name="btncancel"  class="btn btn-primary" value="CANCEL">
    </div>


  </form>



</div>
