<div id="menu4" class="tab-pane fade ">
  <section class="col-md-6 col-xs-6 pull-right inner-addon right-addon">
    <i class="glyphicon glyphicon-search " role="button"></i>
    <input type="text" name="search" value="" class="form-control" placeholder="search files">
  </section>
  <h3>Uploaded Files</h3>
  <br>
  <table class="table table-striped ">
    <th>File Name</th>
    <th>Date</th>
    <th>Size</th>
    <th>Action</th>

    <tr>
      <td>bootstrap tutorial</td>
      <td>June 5 2009</td>
      <td>456 KB</td>
      <td><span class="glyphicon glyphicon-trash" role="button"  style="color: rgb(255, 8, 15);" data-toggle="tooltip" title="delete"></span>
          &nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-download-alt" role="button" style="color:rgb(76, 143, 231);" data-toggle="tooltip" title="download"></span>
      </td>
    </tr>
    <tr>
      <td>bootstrap tutorial</td>
      <td>June 5 2009</td>
      <td>456 KB</td>
      <td><span class="glyphicon glyphicon-trash" role="button"  style="color: rgb(255, 8, 15);" data-toggle="tooltip" title="delete"></span>
          &nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-download-alt" role="button" style="color:rgb(76, 143, 231);" data-toggle="tooltip" title="download"></span>
      </td>
    </tr>
    <tr>
      <td>bootstrap tutorial</td>
      <td>June 5 2009</td>
      <td>456 KB</td>
      <td><span class="glyphicon glyphicon-trash" role="button" style="color: rgb(255, 8, 15);" data-toggle="tooltip" title="delete"></span>
          &nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-download-alt" role="button" style="color:rgb(76, 143, 231);" data-toggle="tooltip" title="download"></span></td>
    </tr>
    <tr>
      <td>bootstrap tutorial</td>
      <td>June 5 2009</td>
      <td>456 KB</td>
      <td><span class="glyphicon glyphicon-trash" role="button" style="color: rgb(255, 8, 15);" data-toggle="tooltip" title="delete"></span>
          &nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-download-alt" role="button" style="color:rgb(76, 143, 231);" data-toggle="tooltip" title="download"></span></td>
    </tr>
    <tr>
      <td>bootstrap tutorial</td>
      <td>June 5 2009</td>
      <td>456 KB</td>
      <td><span class="glyphicon glyphicon-trash" role="button" style="color: rgb(255, 8, 15);" data-toggle="tooltip" title="delete"></span>
          &nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-download-alt" role="button" style="color:rgb(76, 143, 231);" data-toggle="tooltip" title="download"></span></td>
    </tr>
    <tr>
      <td>bootstrap tutorial</td>
      <td>June 5 2009</td>
      <td>456 KB</td>
      <td><span class="glyphicon glyphicon-trash" role="button" style="color: rgb(255, 8, 15);" data-toggle="tooltip" title="delete"></span>
          &nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-download-alt" role="button" style="color:rgb(76, 143, 231);" data-toggle="tooltip" title="download"></span></td>
    </tr>
  </table>
</div>
