<section ng-include src="'components/modals/changePass.html'"></section>
<section dir-nav></section>

<div class="container forum_wrapper">

  <div class="row col-xs-12 col-md-10 post-content" ng-model="forum.details">
    <h1>{{forum.titles}}</h1>
    <hr >
    <h5><span class="glyphicon glyphicon-pencil"></span>Created by <a href="#/profile">Annie Leondhart</a></h5>
    <h5><span class="glyphicon glyphicon-time"></span>&nbspJune 5 2016&nbsp&nbsp&nbsp&nbsp10:00 AM</h5>
    <hr >
    <p>
      {{forum.contents}}
    </p>
  </div>
</div>

  <!-- comment panel -->

<div class="container">
  <div class="row col-xs-12 col-md-8 comment_pane">
    <div class="panel panel-default panels">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:white;">Comment Here <span class="glyphicon glyphicon-hand-down"></span></h3>
      </div>
      <div class="panel-body" style="height:180px;">
        <textarea name="name"  cols="40" class="col-xs-12 col-lg-12" ng-model="comment.contents"></textarea>
        <input type="submit" name="name" value="Comment" class="btn btn-primary pull-right" ng-click="addComment(comment)" style="margin-top: 20px">
      </div>
    </div>
  </div>

  <!-- <pre>
    {{theComment | json}}
  </pre> -->


  <div class="comments container-fluid " ng-repeat="comment in theComment" ng-model="comment.commentList">
    <div class="row col-xs-12 col-lg-8 comment-content">
      <img src="assets\defaults\avatar.png" alt="" class="col-xs-2 col-sm-1"/>
      <h5><b><a href="#/profile">Annie Leondhart</a></b></h5>
      <p  class="col-xs-12 col-lg-12">
        {{comment.contents}}
        <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. -->
      </p>
    </div>
  </div>

</div>

<section ng-include src="'components/partials/footer_def.html'"></section>
