
<section dir-nav></section>

<div class="container forum_wrapper">

  <div class="row col-xs-12 col-md-10 post-content" ng-model="forum.details">
    <h1>{{forum.titles}}</h1>
    <hr >
    <h5><span class="glyphicon glyphicon-pencil"></span>Created by <a href="#/profile/{{forum.creatorID}}">{{forum.creator}}</a></h5>
    <h5><span class="glyphicon glyphicon-time"></span>{{forum.timePosted * 1000 | date:'MMM d, y h:mm a'}}</h5>
    <hr >
    <p>
      {{forum.contents}}
    </p>
  </div>
</div>

  <!-- comment panel -->

<div class="container">
  <div class="row col-xs-12 col-md-8 comment_pane">
    <div class="panel panel-default panels">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:white;">Comment Here <span class="glyphicon glyphicon-hand-down"></span></h3>
      </div>
      <div class="panel-body" style="height:180px;">
        <textarea name="name"  cols="40" class="col-xs-12 col-lg-12" ng-model="comment.contents"></textarea>
        <input type="submit" name="name" value="Comment" class="btn btn-primary pull-right" ng-click="addComment(comment)" style="margin-top: 20px">
      </div>
    </div>
  </div>



  <div class="comments container-fluid " ng-repeat="comment in forum.comment" ng-model="comment.commentList">
    <div class="row col-xs-12 col-lg-8 comment-content">
      <img src="assets\defaults\avatar.png" alt="" class="col-xs-2 col-sm-1"/>
      <h5><b><a href="#/profile/{{comment.postedById}}">{{comment.postedBy}}</a></b></h5>
      <p  class="col-xs-12 col-lg-12">
        {{comment.contents}}
      </p>
    </div>
  </div>

</div>

<section ng-include src="'components/partials/footer_def.html'"></section>
