<section ng-include src="'components/modals/changePass.html'"></section>
<section dir-nav></section>

<div class="container forum_wrap">

  <div class="col-sm-4 col-xs-12 col-sm-push-8 more_content">
    <!-- search -->
    <div class="form-group inner-addon right-addon search">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" name="search" value="" placeholder="Search forum" class="form-control">
    </div>


    <!-- announcements panel -->
    <div class="panel panel-default panels">
      <div class="panel-heading">
        <h3 class="panel-title " style="color:white;">Announcements</h3>
      </div>
      <div class="panel-body" style="height:200px;">
      </div>
    </div>

      <!-- events panel -->

      <div class="panel panel-default panels">
        <div class="panel-heading">
          <h3 class="panel-title "style="color:white">Events</h3>
        </div>
        <div class="panel-body" style="height:200px;">

        </div>
      </div>


    </div>


  <div class="col-xs-12 col-md-8 col-sm-pull-4">
    <br>
    <div class="create">
      <a href="#/create_forum_form" class="w3-btn-floating-large w3-ripple w3-teal">+</a>
    </div>
    <br><br>
    <div class="form-wrapper" ng-repeat="forum in theForum" ng-model="forum.details">
      <h1><a href="#/forum_home">{{forum.titles}}</a></h1>
      <hr >
      <h5><span class="glyphicon glyphicon-pencil"></span>Created by <a href="#/profile">Annie Leondhart</a></h5>
      <h5><span class="glyphicon glyphicon-time"></span> {{ forum.timePosted * 1000 | date : format:'M/d/yy h:mm a'}}</h5>
      <hr >

      <p>
        {{forum.contents}}<a href="#/forum_post"><br><br><b>Read more...</b></a>
      </p>

      <hr>
    </div>
</div>
</div>
<!-- end container forum_wrap -->

<section ng-include src="'components/partials/footer_def.html'"></section>
