<section ng-include src="'components/modals/changePass.html'"></section>
<section dir-nav></section>


<div class="container-fluid main-content">


  <div class="col-md-3 col-xs-12 pull-right inner-addon right-addon">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text" name="search_groups" value="" class="form-control" placeholder="Search">
  </div>





  <h1 class="row col-xs-12">My groups</h1>

  <!-- <div class="container"> -->
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
    <div class="pull-left col-md-3 col-xs-12 group-item">
      <button class="btn btn-danger btn-sm pull-right">Leave</button>
      <h3>Group</h4>
      <small>Description</small>
    </div>
  <!-- </div> -->
  <button class="btn right-distance" id="btnJoinGrp" onclick="location.href = '#/home';" >
    Join more groups
  </button>
</div>


<section ng-include src="'components/partials/footer_def.html'"></section>
<!-- <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
