<div class="container-fluid">
  <div class="row col-4" id="row">
    <h1>Profile Information</h1>
  </div>


  <div class="container col-md-6 col-md-offset-3">
    <div class="row">
      <h3>Almost there...</h3>
      <h5>Update your profile information</h5>

    </div>

    <div class="row">
      <form role="form" name="info_form"  novalidate>

        <!-- USER TYPE -->
        <div class="row  col-md-12">
          <div class="form-group">
            <label class="col-sm-3">User Type: </label>
            <div class="col-sm-3">
              Techer
              <input type="radio" name="utype" value="teacher" ng-model="profileInfo.utype">
            </div>
            <div class="col-sm-3">
              Student
              <input type="radio" name="utype" value="student" ng-model="profileInfo.utype" >
            </div>
          </div><!-- .form-group -->
        </div><!-- row -->

        <!-- FIRSTNAME -->
        <div class="form-group col-md-6">
          <input type="text" placeholder="Firstname" ng-model="profileInfo.firstname" class="form-control" required>
        </div>

        <!-- LASTNAME -->
        <div class="form-group col-md-6">
          <input type="text" placeholder="Lastname" ng-model="profileInfo.lastname" class="form-control" required>
        </div>


        <!-- Description -->
        <div class="form-group col-md-12">
          <textarea placeholder="Write a short description about yourself " spellcheck="true" rows="3" ng-model="profileInfo.Description" class="form-control required"></textarea>
        </div>

        <!-- BUTTON -->
       <div id="btn2">
         <button
         type="submit"
         name="btnlogin"
         class="btn btn-success pull-right"
         ng-disabled="info_form.$invalid"
         ng-click="submitInfo(profileInfo)"
         >

          SUBMIT

       </button>
       </div>

      </form>

    </div>
  </div>
  <!-- end container -->

</div>
<!-- end container-fluid -->
