<div class="container-fluid" >
  <div class="row col-4" id="row">
    <h1>SIGN UP <span class="glyphicon glyphicon-hand-down"></span></h1>
  </div>

  <div class="container col-md-6 col-md-offset-3" >
    <div class="col-md-12">
      <button class="btn btn-facebook" type="button" name="fbLogin" ng-click="LoginFacebook()">Login with Facebook</button>
      <button class="btn btn-google" type="button" name="fbLogin" ng-click="LoginGoogle()">Login with google</button>
    </div>
    <div class="col-md-12" id="sep"></div>

    <form role="form" name="reg_form" class="col-md-12" novalidate>

      <!-- EMAIL -->
      <div class="form-group inner-addon left-addon"
      ng-class="{ 'has-error' : reg_form.email.$invalid && !reg_form.email.$pristine }">
        <i class="glyphicon glyphicon-envelope"></i>
        <input type="email" name="email" class="form-control" ng-model="formInfo.email" placeholder="Email" required>
        <p ng-show="reg_form.email.$invalid && !reg_form.email.$pristine" class="help-block">Email is invalid.</p>
        <p ng-show="reg_form.email.$error.required && !reg_form.email.$pristine" class="help-block">Email is required.</p>
      </div>

      <!-- PASSWORD -->
      <div class="form-group inner-addon left-addon "
      ng-class="{ 'has-error' : reg_form.password.$invalid && !reg_form.password.$pristine }">
        <i class="glyphicon glyphicon-lock"></i>
        <input type="password" name="password" class="form-control" ng-model="formInfo.password" ng-minlength="8" placeholder="Password" required>
        <p ng-show="reg_form.password.$error.minlength" class="help-block">Password too short.</p>
        <p ng-show="reg_form.password.$error.required && !reg_form.password.$pristine" class="help-block">Password is required.</p>
      </div>

       <!-- CONFIRM PASSWORD -->
      <div class="form-group inner-addon left-addon "
      ng-class="{ 'has-error' : reg_form.ConfPass.$invalid && reg_form.ConfPass.$touched}">
        <i class="glyphicon glyphicon-lock"></i>
        <input type="password" name="ConfPass" class="form-control" ng-model="formInfo.ConfPass" ng-pattern="formInfo.password" placeholder="Confirm Password" required>
        <p ng-show="reg_form.ConfPass.$error.required && reg_form.ConfPass.$dirty" class="help-block">Confirmation of password is required.</p>
        <p ng-show="reg_form.ConfPass.$error.pattern && reg_form.ConfPass.$touched" class="help-block">Passwords do not match!</p>
      </div>

      <!-- BUTTON -->
       <div id="btn2">
         <a href="#/home" class="pull-left">
           <b>Already have an account?</b>
         </a>
         <button type="submit" name="btnlogin" class="btn btn-success pull-right" ng-disabled="reg_form.$invalid" ng-click="submitForm(formInfo)">SUBMIT</button>
       </div>


    </form>

  </div>
  <!-- end container -->
</div>
<!-- end container-fluid -->
  <div class="loader" ng-show="load">Loading...</div>
