
<!-- <section ng-include src="'components/partials/navbar.html'"></section> -->
<section dir-nav></section>

<!-- student info -->
<header class="container-fluid jumbotron profile-banner">
  <img src="assets\default-user-avatar.png" alt="profPic" class="col-md-2 col-sm-2 col-xs-6" />
  <div class="container col-md-4 col-sm-8 col-xs-6">
    <h2 class="h2">Firstname Lastname</h2>
    <h3 class="h3">grade</h3>
    <h3 class="h3">section</h3>
  </div>
  <div class="container col-md-6 col-sm-8 col-xs-12 well text-center">
    
  </div>

</header>

<section class="container">
  <div class="col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title ">Achievements</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6 pull-right">
          <input type="text" name="searchBadge" placeholder="Search" class="form-control">
        </div>

      </div>
    </div>
  </div>


  <div class="col-md-6 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Score timeline</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

</section>

<section ng-include src="'components/partials/footer_def.html'"></section>
