<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link rel="stylesheet" href="..\lib\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="..\lib\font-awesome-4.6.1\css\font-awesome.min.css" >
    <link rel="stylesheet" href="..\style\profile.css" >
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-light bg-faded">
      <div class="container-fluid">

        <!-- <div class="navbar-header"> -->
          <!-- collapse button -->
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <!-- username and profpic -->
          <a class="navbar-brand" href="#">
            <img id="profile-brand" src="..\assets\default-user-avatar.png" alt="" />
            <span>Firstname</span> <span>lastname</span>
          </a>
        <!-- </div> -->



        <!-- <div class="collapse navbar-collapse" id="navCollapse"> -->
          <ul class="nav navbar-nav">






            <div class="pull-xs-right">


              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                  <span>Home</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                  <span>Forum</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-exclamation fa-lg" aria-hidden="true"></i>
                  <span class="label label-pill label-info">3</span>
                </a>
              </li>


              <!-- settings dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <label for="settings"><i class="fa fa-cog fa-lg" aria-hidden="true"></i>Options</label>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Account</a>
                  <a class="dropdown-item" href="#">Change Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Privacy</a>
                </div>
              </li>


            </div>
          </ul>
        <!-- </div> -->
        <!-- .collapse end -->


      </div><!-- container-fluid -->
    </nav>





    <!-- jQuery first, then Bootstrap JS. -->
    <script src="..\lib\jquery-2.2.3.min.js"></script>
    <script src="..\lib\bootstrap\js\bootstrap.min.js"></script>
  </body>
</html>
